body {
    background-color: #fffbf7;
}

#title {
    color: #46484c;
    text-align: center;
}

p{
    font-family: verdana;
    font-size: 20px;
}

#parr2 {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

#logo{
    width: 30%;
}

#muestra{
    width: 75%;
}