/*General*/
html {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #ff8000;
}
 
/*navbar*/
.fixed-header {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #025157;
    font-family: verdana;
    font-size: 60px;
    margin-bottom: 24px;
}

.header p {
    color: #46484c;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 72px;
}

main {
    margin-top: 285px;
    text-align: center;
}

body {
    background-color: #fffbf7;
    font-family: verdana;
}

.logo {
    width: 15%;
}

.logo>img {
    width: 15%;
}

.navbar {
    background-color: #fffbf7;
}

.navbar-light .nav-item .nav-link {
    color: #025157;
}

.navbar-light .navbar-toggler {
    border-color: #025157;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.actions {
    text-align: right;
    font-weight: 600;
    font-size: 14px;
}

.actions>* {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

/*main*/
.main {
    margin: 15% 5% 8% 5%;
    text-align: center;
}

#title {
    color: #46484c;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 50px;
}

p {
    font-family: verdana;
    font-size: 20px;
}

#parr2 {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

#logo {
    width: 30%;
}

#muestra {
    width: 75%;
}

.segundo {
    margin-top: 3%;
    margin-bottom: 10%;
}

/*publicidad*/
.publicidad {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 90%;*/
    margin: 10px;
}

.video {
    flex-direction: column;
}

#imagenTexto {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#imagenTexto p {
    font-size: 12px;
    color: #616161;
    font-weight: bold;
}

.publicidad img {
    width: 15%;
}

article {
    margin-left: 20px;
}

article h3 {
    font-family: 'Josefin Slab', serif;
    font-size: 50px;
    color: #025157;
}

article p {
    color: #343434;
}

article form p {
    color: #025157;
}

/*revisando grid*/
.features {
    background-color: #025157;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    text-align: left;
    height: max-content;
}

.features>* {
    background-color: #ffffff;
    margin: 20px;
    padding: 60px;
    border-radius: 13px;
}

.features h3 {
    font-family: verdana;
    font-size: 150%;
    font-weight: bold;
}

.iconTop {
    width: 20%;
}

.iconSide {
    width: 100%;
    position: relative;
}

.features article {
    display: flex;
}

.features a {
    font-family: verdana;
    font-weight: bold;
    font-size: 120%;
    color: #74BB5B;
}

.primerDiv {
    margin-right: 2%;
}

.features p {
    color: #979797;
}

.success-stories {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.success-stories .overview {
    flex: 2;
    padding-right: 100px;
}

.success-stories .overview h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}

.success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.success-stories .overview button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}

.success-stories .overview img {
    width: 500px;
    max-width: 100%;
}

.success-stories .card {
    max-width: 370px;
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
  }
  
  .success-stories .card img {
    max-height: 30vh;
    object-fit: cover;
  }
  
  .success-stories .card .card-body {
    max-width: 370px;
    width: 100%;
    position: relative;
    padding: 40px 1rem 1rem;
  }
  
  .success-stories .card .card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family: "Slabo 27px", serif;
  }
  
  .success-stories .card .card-body h3 {
    font-size: 30px;
    font-weight: 1000;
    line-height: 30px;
    margin-bottom: 20px;
  }
  
  .success-stories .card .card-body .results {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .success-stories .card .card-body .results img {
    width: 26px;
    margin-right: 20px;
}

.success-stories .card .card-body .results p {
    margin: 0;
    color: #747474;
  }
  
  .success-stories .card .card-footer button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
    background-color: #025157;
    color: #fff;
    border: none;
  }
  
  .success-stories .card .card-footer {
    background-color: #ffffff;
    color: #fff;
    border: none;
  }
  
  .success-stories .card .card-body .card-circle {
    display: flex;
    align-items: center;
    position: absolute;
    top:-45px;
    right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 5px;
  }
  
  .success-stories .card .card-body .card-circle.everly {
    background-color: #f9da73;
    border: 5px solid #f9da73;
  }
  
  .success-stories .card .card-body .card-circle.everly img {
    object-fit: contain;
    width: 100%;
  }

/*responsive*/
/** dispositivos móviles en vista viewport (vertical) */
@media(max-width:575px) {
    body {
        background-color: #e4e4e4;
    }

    .actions,
    .navbar {
        text-align: center;
        padding: 15px;
    }


    #title {
        font-size: 30px;
    }

    #logo {
        width: 100%;
    }

    .publish>form {
        flex-direction: column;
    }

    .publish>form>div {
        height: 50px;
        margin-top: 10px;
    }

    .publish>form>div>input {
        width: 65%;
    }

    .publicidad {
        flex-direction: column;
        max-width: 90%;
    }

    .video>video {
        width: 100%;
    }

    .publish {
        margin-top: 10px;
    }

    .publish>h3 {
        font-size: 25px;
        line-height: 1.2;
    }

    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding: 0;
        height: fit-content;
    }

    .features>* {
        background-color: #ffffff;
        margin: 20px;
        padding: 20px;
        text-align: center;
    }

    .primerDiv {
        margin: 0%;
    }

    .feature-image {
        display: none;
    }
}

@media (max-width: 991px) {}

@media (max-width: 575px) {}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
    body {
        background-color: #e4e4e4;
    }
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {

    .actions,
    .navbar {
        text-align: center;
    }

    body {
    }
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        
    }
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
    body {}
}